[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggfootball"]
	path = ggfootball
	url = https://github.com/aymennasri/ggfootball
[submodule "tndata"]
	path = tndata
	url = https://github.com/aymennasri/tndata
